.rotate-loading{
	width:100%;
	position: absolute;
	top: 30%;
	z-index: 999;
	text-align: center;
	color: #D0D0D0;
	animation: loading-outer 2s linear 0s infinite;
	//开启硬件(GPU)加速方法1
	transform: translate3d(0, 0, 0);

	.rotate-outer{
		border: .1rem solid #E0E0E0;
		width:7rem;
		margin: 0 auto;
		border-radius:.6rem;

		.rotate-inner{
			width: 1rem;
			border: .5rem solid #CECECE;
			border-radius:.5rem;
			position: relative;
			//开启硬件(GPU)加速方法2
			transform: translateZ(0);
			animation: loading-inner 2s ease-in 0s infinite;
		}
	}
}
@keyframes loading-outer{
	0% {transform:rotate(0deg);}
	25% {transform:rotate(20deg);}
	50% {transform:rotate(0deg);}
	75% {transform:rotate(-20deg);}
	100% {transform:rotate(0deg);}
}
@keyframes loading-inner{
	0% {left: 0rem;}
	25% {left: 5.8rem;}
	50% {left: 5.8rem;}
	75% {left: 0rem;}
	100% {left: 0rem;}
}

////////////////////////////////////////////////////

.layer-up{
	position: absolute;
	width:100%;
	height: 50%;
	background: #3d566e;
	top:0;
	z-index:888;
}
.layer-down{
	position: absolute;
	width:100%;
	height: 50%;
	background: #3d566e;
	bottom:0;
	z-index:800;
}
.layer-up-remove{
	transform: translateZ(0);
	animation: layer-up-remove 2s ease-out 0s;
	animation-fill-mode:forwards;
}
.layer-down-remove{
	transform: translateZ(0);
	animation: layer-down-remove 2s ease-out 0s;
	animation-fill-mode:forwards;
}
@keyframes layer-up-remove{
	100%{
		height:0;
		display:none;
	}
}
@keyframes layer-down-remove{
	100%{
		height:0;
		display:none;
	}
}
//////////////////////////////////////////////
.head-logo{
	display:none;
	position:fixed;
	top:50%;
	left:50%;
	z-index:999;
	height: 10.8rem;
	width:10.8rem;
	border-style: solid;
	border-width: 0rem;
	border-radius:5.4rem;
	margin-top: -5.4rem;
	margin-left:-5.4rem;
}
.head-logo-touch{
	display:block;
	transform: translateZ(0);
	animation: head-logo-touch 2s ease-out 0s infinite;
}
@keyframes head-logo-touch{
	0% {
		border-width: 0rem;
		border-color:rgba(255,255,255,0);
	}
	33% {
		border-width: 1rem;
		border-color:rgba(255,255,255,0.2);
	}
	100% {
		border-width: 0rem;
		border-color:rgba(255,255,255,0);
	}
}
.head-logo-move{
	display:block;
	transform: translateZ(0);
	animation: head-logo-move 2s ease-out 0s;
	animation-fill-mode:forwards;
}
@keyframes head-logo-move{
	100% {
		top:1rem;
		height: 8rem;
		width: 8rem;
		border-radius:4rem;
		margin-top: 0rem;
		margin-left:-4rem;
	}
}

//////section skills///////////////////////////
section{
	width:100%;
	height:100%;
	padding-top: 9.5rem;
	overflow: hidden;
	.contents{
		width:100%;
		height:100%;
		padding: 0px 1rem;
		overflow: auto;

		h3{
			margin: .3rem 0;
			text-align: center;
		}
		.my-name>img{
			margin-left: .2rem;
			margin-bottom: .4rem;
			width:.8rem;
		}

		.swiper-page{
			height:2.5rem;
			display:flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: stretch;
			

			span:nth-child(1){
				width:25%;
				height:100%;
				border: 1px solid #808080;
				border-radius: 1.5rem 0 0 0;
			}
			span:nth-child(2){
				width:25%;
				height:100%;
				border: 1px solid #808080;
			}
			span:nth-child(3){
				width:25%;
				height:100%;
				border: 1px solid #808080;
			}
			span:nth-child(4){
				width:25%;
				height:100%;
				border: 1px solid #808080;
			}
		}
	}
}